doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv = "X-UA-Compatible", content = "IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Meetus
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 Room
        main
            div#welcome
                form
                    button Enter Room
            div#firstoption
                form
                    input(placeholder="nickname", required, type= "text")
                    button Save
            div#secondoption             
                form
                    input(placeholder="room name", required, type= "text")
                    button Save
                h4 Open Rooms:
                ul
            div#room
                h3
                h1 Screen Sharing and Capture
                canvas#screenCanvas(width="800" height="600")
                button#startButton Start Screen Sharing
                button#captureButton Capture Screen
                div#chat-container(style="width: 400px; height: 400px; border: 1px solid #ccc; border-radius: 5px; overflow-y: auto; background-color: #fff; padding: 10px; margin-left: 500px;")
                    ul
                form#msg
                    input(placeholder="message", required, type= "text")
                    button Send
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")